<a href="https://colab.research.google.com/github/aranes-rc/PLNG211-QC/blob/main/Arrays.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#Accessing/Indexing elements from an array
animals = ["cat", "dog", "fish"]
print("The animals are: ", animals)
print("The animal in the first position in the list is ", animals[0])

The animals are:  ['cat', 'dog', 'fish']
The animal in the first position in the list is  cat

In [7]:
#Modifying elements in an array
animals = ["cat", "dog", "fish"]
animals[0] = 'monkey'
print(animals)

['monkey', 'dog', 'fish']

In [4]:
#Length of an array
animals = ["cat", "dog", "fish"]
x = len(animals)
print(x)

3

In [ ]:
#Looping in an array
animals = ["cat", "dog", "fish"]

for x in animals:
  print(x)

In [16]:
#Adding elements in an array
animals = ["cat", "dog", "fish"]
animals.insert(1, "Monkey")
print(animals)

animals.append("bird")
print(animals)

['cat', 'Monkey', 'dog', 'fish']
['cat', 'Monkey', 'dog', 'fish', 'bird']

In [17]:
#Removing elements in an array
# animals.reverse()
animals.pop(1)
print(animals)

['cat', 'dog', 'fish', 'bird']

In [19]:
from array import *

a = array('d', [9, 2, 1])
print(a)
a.typecode

array('d', [9.0, 2.0, 1.0])

'd'

In [23]:
from array import *

a = array('d', [9, 2, 1])
a.itemsize

8

In [24]:
from array import *

a = array('d', [9, 2, 1])
a.append(4)
print(a)

array('d', [9.0, 2.0, 1.0, 4.0])

In [30]:
from array import *

a = array('d', [9, 2, 1, 1])
a.count(1)

2

In [32]:
from array import *

a = array('d', [9, 2, 1])
a.insert(1, 4)
print(a)

array('d', [9.0, 4.0, 2.0, 1.0])