<a href="https://colab.research.google.com/github/aranes-rc/PLNG211-QC/blob/main/Control_and_Looping_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
#If Statement

a =100
b= 100

if a<b:
  print("a is less than b")

In [28]:
#Elif Statement
if a<b:
  print('a is less than b')
elif a>b:
  print("a is greater than b")

In [27]:
if a<b:
  print('a is less than b')
elif a>b:
  print("a is greater than b")
else:
  print('a is equal to b')

a is equal to b

In [6]:
#Short Hand If Statement

c = 5
d = 10

if c>d: print("c>d")

In [7]:
#Short Hand If.. Else Statement
print('c>d') if c>d else print('d>c')

d>c

In [ ]:
#And Statement
if 5>10 and 8>4:
  print("both statements are true")
else:
  print("one of the statements is false /both statements are not true")

In [8]:
#Or Statement
if 5>10 or 4 >8:
  print('True')
else:
  print('False')

False

In [9]:
#Bitwise operator ^ (xor)
e=4     #0100 in binary
f= 2    #0010 in binary

e^f

6

In [10]:
#Nested If Statement

x = 39
if x>10:
  print("number is above 10")
  if x>20:
    print("number is above 20")
    if x>30:
      print("number is above 30")
      if x>40:
        print("number is above 40")
        if x>50:
          print("number is above 50")
        else:
          print("number is less than 50")
      else:
        print("number is less than 40")

number is above 10
number is above 20
number is above 30
number is less than 40

In [11]:
#Application 1.Write a program that determines if the input age is qualified to vote or not. 
#The qualifying age is 18 years old and above.

age = 18

if age >= 18:
	print("Qualified")
else:
	print("Not qualified")

Qualified

In [14]:
#Application 2. Write a program that determines if the input number is POSITIVE, NEGATIVE, or Zero. 

number = 0

if number > 0:
  print("POSITIVE")
elif number < 0:
  print("NEGATIVE")
else:
  print("Zero")

Zero

In [15]:
#For loop Statement
week = ["Sunday", "Monday","Tuesday","Wednesday", "Thursday", "Friday", "Saturday"]

for y in week:
  print(y)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

In [16]:
week = ["Sunday", "Monday","Tuesday","Wednesday", "Thursday", "Friday", "Saturday"]

for y in week:
  print(y)
  if y == "Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [17]:
week = ["Sunday", "Monday","Tuesday","Wednesday", "Thursday", "Friday", "Saturday"]

for y in week:
  if y == "Thursday":
    break
  print(y)

Sunday
Monday
Tuesday
Wednesday

In [18]:
for x in "week":
  print(x)

w
e
e
k

In [19]:
#range () function
for x in range(6):
  print(x)

0
1
2
3
4
5

In [20]:
for x in range(2,6+1,1):
  print(x)

2
3
4
5
6

In [21]:
adjective = ["red", "big", "tasty"]
fruits = ["apple", "banana","cherry"]
for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [22]:
i = 1
while i<=6:
  print(i)
  i+=1     #i = i +1

1
2
3
4
5
6

In [23]:
i = 1
while i<=6:
  print(i)
  if i ==3:
    break
  i+=1

1
2
3

In [24]:
# using while loop and break statement, the output is only 3

i = 1
while i<=6:
  if i ==3:
    print(i)
    break
  i+=1

3