<a href="https://colab.research.google.com/github/aranes-rc/PLNG211-QC/blob/main/Introduction_to_Python_Programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

:Python Indentation

In [7]:
#Indentation example

if 5>2:
  print("5 is greater than 2")

5 is greater than 2

Python Variable

In [11]:
x = 1
a, b = 0, -1
a = 9
c = "Sally"
c = "Danny"
print(a, c)

c = "Maria"
print(c)

9 Danny
Maria

Casting

In [9]:
d = int(4)
print(d)
e = float(4)
print(e)

4
4.0

type() function

In [10]:
print(type(d))
print(type(e))

<class 'int'>
<class 'float'>

Single Quote/Double Quote

In [12]:
f = " Maria"
g = 'Ana'
print(f, g)

 Maria Ana

Multiple Variables

In [13]:
x, y, z = 4, 5, 6
print(x, y, z)

4 5 6

Single Value to Multiple Variables

In [14]:
x = y = z = "Lilo"
print(x, y, z)

Lilo Lilo Lilo

Output Variable using print() and concatenation (+)

In [16]:
s = "Python is"
t = "enjoying"
print("Python is " + t)
print(s, t)

Python is enjoying
Python is enjoying

Arithmetic

In [25]:
#Addition
x = 1
y = 2
sum = x +  y
print(f"x = {x}")
print(f"y = {y}")
print(f"Sum is {sum}\n\n")

#Modulos
l = 3 % 2
print(f"3 % 2 = {l}")

#Flood division
k = 3 // 2
print(f"3 // 2 = {k}")

x = 1
y = 2
Sum is 3


3 % 2 = 1
3 // 2 = 1

Assignment operator

In [26]:
x = 1
x += 1
print(x)

2

Logical Operator

In [28]:
q = 1
r = 4

print(q > r and r == r)
print(q == r)

False
False